<h1><%= @range.name %></h1>
<p>Peak Count:<%= @range.peak_count %></p>
<p>Is it in the northern hemisphere? <%= @range.northern_hemisphere %></p>
<p>Mountains count: <%= @range.count_mountains %></p>

